nav {
    background: #c054ff;
    background: -moz-linear-gradient(top, #c054ff 0%, #5274ff 100%);
    background: -webkit-linear-gradient(top, #c054ff 0%, #5274ff 100%);
    background: linear-gradient(to bottom, #c054ff 0%, #5274ff 100%);
    padding: 15px 30px;
}

.nav2 {
    padding: 10px 10px;
}

.nav-ul {
    display: flex;
    justify-content: space-between;
}

.nav-ul li {
    list-style: none;
}

.hbtn {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    padding: 12px 35px;
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    z-index: 0;
}

.hbtn1 {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    padding: 13px 35px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    z-index: 0;
}

.hbtn1 i {
    padding-right: 8px;
}

.hbtn i {
    padding-right: 8px;
}


.hb-fill-right::before {
    position: absolute;
    content: "";
    background: #FF9F67;
    transition-duration: 0.3s;
    z-index: -1;
    inset: 0px auto auto 0px;
    width: 0%;
    height: 100%;
    opacity: 1;
}


.hb-fill-right:hover::before {
    width: 100%;
    height: 100%;
    opacity: 1;
}


.hb-fill-right:hover {
    color: white;
    background: rgb(255, 255, 255);
    transition: color 0.3s ease 0s, background 0s ease 0.3s;
}


.hb-fill-left::before {
    position: absolute;
    content: "";
    background: #FF9F67;
    transition-duration: 0.8s;
    z-index: -1;
    inset: 0px 0px auto auto;
    width: 100%;
    height: 100%;
    opacity: 1;
}

.hb-fill-left:hover::before {
    width: 0%;
    height: 100%;
    opacity: 1;
}

.hb-fill-left:hover {
    color: white;
    background: #c054ff;
    transition: color 0.3s ease 0s, background 0s ease 0.3s;
}

.wrapper-back {
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0%;
    left: 0%;
}

.wrapper-back img {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.vice-back-text {
    position: absolute;
    font-family: "Josefin Sans", sans-serif;
    color: white;
    top: 45%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.vice-back-text h1 {
    font-weight: bold;
    line-height: 74px;
    font-size: 60px;
}

.vice-back-text p {
    font-size: Mulish, sans-serif;
    font-size: 18px;
    line-height: 30px;
}
@media(min-width:0px) and (max-width:575px)
{
    .vice-back-text {
        position: absolute;
        font-family: "Josefin Sans", sans-serif;
        color: white;
        top: 45%;
        left: 55%;
        transform: translate(-50%, -50%);
        width: 90%;
    }
    .vice-back-text h1
{
    font-size: 40px;
    line-height: 50px;
}
}

@media(min-width:576px) and (max-width:768px)
{
    .vice-back-text {
        position: absolute;
        font-family: "Josefin Sans", sans-serif;
        color: white;
        top: 45%;
        left: 55%;
        transform: translate(-50%, -50%);
        width: 90%;
    }
    .vice-back-text h1
{
    font-size: 40px;
    line-height: 50px;
}
}

@media(min-width:769px) and (max-width:991px)
{
    .vice-back-text {
        position: absolute;
        font-family: "Josefin Sans", sans-serif;
        color: white;
        top: 45%;
        left: 55%;
        transform: translate(-50%, -50%);
        width: 90%;
    }
    .vice-back-text h1
{
    font-size: 40px;
    line-height: 50px;
}
}

.vice-back-cart {
    position: relative;
    top: -50%;
    background-color: #fff;
    box-shadow: 0px 25px 60px rgba(66, 85, 164, 0.06);
    padding: 24px;
    border-radius: 20px;

}

.professional {
    margin-top: 12%;
}

@media(max-width:700px) {
    .vice-back-cart {
        position: relative;
        top: 0%;
        margin: auto;
    }
}

.vice-back-cart h4 {
    font-size: 20px;
    line-height: 24px;
    color: rgb(66, 85, 164);
    font-weight: 700;
}

.vice-back-cart p {
    color: rgb(66, 85, 164);
}

.courses {
    text-align: center;
    color: rgb(66, 85, 164);
    font-family: "Josefin Sans", sans-serif;
    font-weight: 42px;
}

body {
    position: relative;
    height: 100%;
    width: 100%;
}



.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 50%;
    margin: auto;
    /* height: 100%; */
    /* object-fit: cover; */
}

.swiper-button-next {
    color: black;
    /* margin-right: 55px; */
}

.tittle-first1 {
    color: rgb(66, 85, 164);
}

.bi-star-fill {
    color: #FF9F67;
}

.bi-star-half {
    color: #FF9F67;
}

.contety {
    color: #FF9F67;
}

.contety span {
    color: #FF9F67;
}

.about-icon {
    background: linear-gradient(to bottom, #eae2fe 0%, #a376ff 1%, #ea68ff 98%, #ec7dfe 99%, #f3f3fa 99%, #f4f5fa 100%);
}

.about-icon {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    display: inline-block;
    position: relative;
    margin-bottom: 31px;
    line-height: 80px;
    text-align: center;
    box-shadow: 0px 15px 25px rgba(66, 85, 164, 0.08);
}

.features-icon {
    display: block;
}

.bg {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    display: inline-block;
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: #FF9F67;
    line-height: 71px;
    text-align: center;
    box-shadow: 0px 15px 25px rgba(66, 85, 164, 0.08);
}

.bi-play-fill {
    font-size: 33px;
    margin: auto auto auto 39px;
}



.main-cart-programe {
    position: relative;
    top: 0%;
    left: 0%;
    overflow: hidden;
}

.main-cart-programe img {
    width: 100%;
}

.cart-vice-programe {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    border-radius: 10px;
    transition: all 0.3s;
}

.cart-vice-programe h5 {
    text-align: center;
    /* margin-top: 70px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.cart-vice-programe h5:hover {
    border-bottom: 3px solid white;
    width: 50%;
    margin: auto;
}

.main-cart-programe:hover .cart-vice-programe {
    background: #6e6e9db0;

}

.swiper-slide {
    width: 60%;
}

.swiper-slide:nth-child(2n) {
    width: 40%;
}

.swiper-slide:nth-child(3n) {
    width: 20%;
}